<ngx-loading-bar></ngx-loading-bar>

<div class="main-container">
  <div class="header">
    <h2>Max Integer Solver</h2>
    <p>
      Max Integer Solver es una aplicación Spring Boot desarrollada para
      resolver el problema de encontrar el máximo entero no negativo k tal que 0
      ≤ k ≤ n y k mod x = y. Este proyecto implementa una solución algorítmica
      para el problema descrito en Codeforces - Problem 1374A.
    </p>
  </div>

  <operation-form (onNewOperation)="getResults()"></operation-form>

  <div class="value-list">
    <mat-table class="value-table" [dataSource]="dataSource"  *ngIf="operationsCount() > 0">
      <!-- Columna x -->
      <ng-container matColumnDef="x">
        <mat-header-cell *matHeaderCellDef> Valor X </mat-header-cell>
        <mat-cell *matCellDef="let value">
          {{ value.x }}
        </mat-cell>
      </ng-container>

      <!-- Columna y -->
      <ng-container matColumnDef="y">
        <mat-header-cell *matHeaderCellDef> Valor Y </mat-header-cell>
        <mat-cell *matCellDef="let value">
          {{ value.y }}
        </mat-cell>
      </ng-container>

      <!-- Columna z -->
      <ng-container matColumnDef="n">
        <mat-header-cell *matHeaderCellDef> Valor Z </mat-header-cell>
        <mat-cell *matCellDef="let value">
          {{ value.n }}
        </mat-cell>
      </ng-container>

      <!-- Columna value -->
      <ng-container matColumnDef="result">
        <mat-header-cell *matHeaderCellDef> Entero Máximo </mat-header-cell>
        <mat-cell *matCellDef="let value">
          {{ value.result }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
